In [1]:
import pandas as pd
import re
pd.set_option('precision', 0)

# Extracting Per Capita Personal Income

In [2]:
census_file = 'https://www.bea.gov/system/files/2019-11/lapi1119msa.xlsx'
# Local backup:
#census_file = 'data/lapi1119msa.xlsx'
census_df = pd.read_excel(census_file, index_col=0)
census_df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
"Table 2. Per Capita Personal Income by Metropolitan Area, 2016 - 2018",,,,,,,
NaN,Per capita personal income1,NaN,NaN,NaN,Percent change from preceding period,NaN,NaN
NaN,Dollars,NaN,NaN,Rank in United States,Percent change,NaN,Rank in United States
NaN,2016,2017,2018,2018,2017,2018,2018
United States,49870,51885,54446,--,4,5,--
Metropolitan portion,51742,53864,56527,--,4,5,--
Nonmetropolitan portion,38422,39690,41552,--,3,5,--
Metropolitan Statistical Areas2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Abilene, TX",40140,40862,43140,256,2,6,57
"Akron, OH",45515,47343,49423,129,4,4,211
"Albany, GA",35485,36522,37500,358,3,3,374
"Albany-Lebanon, OR",39164,40865,42891,261,4,5,113
"Albany-Schenectady-Troy, NY",53496,56264,58104,43,5,3,349
"Albuquerque, NM",40180,40715,42536,267,1,4,199
"Alexandria, LA",41572,42200,43995,235,2,4,242
"Allentown-Bethlehem-Easton, PA-NJ",49865,51236,54120,76,3,6,52
"Altoona, PA",42717,44160,46743,171,3,6,42
"Amarillo, TX",43025,44111,46131,189,2,5,178
"Ames, IA",40440,41321,43519,246,2,5,76
"Anchorage, AK",57591,58093,60953,31,0.9,5,117
"Ann Arbor, MI",54377,56729,59363,38,4,5,167
"Anniston-Oxford, AL",34774,35721,37120,361,3,4,294
"Appleton, WI",47730,49292,51134,106,3,4,317
"Asheville, NC",41744,43265,45433,206,4,5,109
"Athens-Clarke County, GA",37411,38884,40690,302,4,5,166
"Atlanta-Sandy Springs-Alpharetta, GA",48052,50269,52473,89,5,4,215
"Atlantic City-Hammonton, NJ",45191,46549,48668,142,3,5,181
"Auburn-Opelika, AL",35690,36437,38036,352,2,4,213
"Augusta-Richmond County, GA-SC",39015,40502,42053,274,4,4,303
"Austin-Round Rock-Georgetown, TX",52208,55530,58773,40,6,6,43
"Bakersfield, CA",37920,38467,39703,326,1,3,354
...,...,...,...,...,...,...,...
"Vallejo, CA",46999,48364,51664,100,3,7,13
"Victoria, TX",41507,43469,45968,197,5,6,46
"Vineland-Bridgeton, NJ",37515,38630,40289,313,3,4,230
"Virginia Beach-Norfolk-Newport News, VA-NC",46992,48485,50619,111,3,4,208
"Visalia, CA",38198,39018,40420,306,2,4,333
"Waco, TX",37897,39182,40831,298,3,4,248
"Walla Walla, WA",42464,44178,46144,185,4,4,203
"Warner Robins, GA",39342,40517,41944,279,3,4,343
"Washington-Arlington-Alexandria, DC-VA-MD-WV",67795,69298,72483,13,2,5,174
"Waterloo-Cedar Falls, IA",42227,43591,46063,192,3,6,50
"Watertown-Fort Drum, NY",43674,45476,46924,168,4,3,356
"Wausau-Weston, WI",45753,47260,49373,130,3,4,200
"Weirton-Steubenville, WV-OH",36579,38472,40472,305,5,5,89
"Wenatchee, WA",45838,48045,50021,119,5,4,267
"Wheeling, WV-OH",41229,45613,48881,137,1e+01,7,10
"Wichita, KS",46659,48818,51854,97,5,6,26
"Wichita Falls, TX",40194,41395,43527,245,3,5,98
"Williamsport, PA",39990,41587,43823,239,4,5,70
"Wilmington, NC",41122,41953,43311,250,2,3,353
"Winchester, VA-WV",44857,46303,48174,148,3,4,277
"Winston-Salem, NC",41559,43306,44850,216,4,4,337
"Worcester, MA-CT",51762,53273,55801,65,3,5,146
"Yakima, WA",40285,41868,43379,249,4,4,331
"York-Hanover, PA",45971,47835,50113,117,4,5,142
"Youngstown-Warren-Boardman, OH-PA",39440,40496,42443,270,3,5,139
"Yuba City, CA",40729,41270,42925,260,1,4,282
"Yuma, AZ",33141,35049,35682,374,6,2,380
1. Per capita personal income was computed using Census Bureau midyear population estimates. Estimates reflect county population estimates available as of March 2019.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"2. The personal income level shown for the United States is derived as the sum of the county estimates. It differs from the estimate of personal income in the national income and product accounts because of differences in coverage, in the methodologies used to prepare the estimates, and in the timing of the availability of source data.",NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source: U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Cleanup
This file needs to be cleaned up a little and the only thing we care about is the cities and the values for the year 2018

In [3]:
# Drop NaN rows
census_df = census_df.dropna(axis='rows')

# Drop the columns we don't need
census_df = census_df.drop(columns=['Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'])

# Drop the rows we don't need
census_df = census_df.drop(['United States','Metropolitan portion', 'Nonmetropolitan portion'])
census_df = census_df.iloc[1:]

# Rename the index to something more descriptive (and easy to call)
census_df.index.names = ['metro_area']

# Rename the column to something more descriptive (and easy to call)
census_df = census_df.rename(columns={'Unnamed: 3': 'per_capita_income'})

In [4]:
census_df

                                              per_capita_income
metro_area
Abilene, TX                                               43140
Akron, OH                                                 49423
Albany, GA                                                37500
Albany-Lebanon, OR                                        42891
Albany-Schenectady-Troy, NY                               58104
Albuquerque, NM                                           42536
Alexandria, LA                                            43995
Allentown-Bethlehem-Easton, PA-NJ                         54120
Altoona, PA                                               46743
Amarillo, TX                                              46131
Ames, IA                                                  43519
Anchorage, AK                                             60953
Ann Arbor, MI                                             59363
Anniston-Oxford, AL                                       37120
Appleton, WI                                              51134
Asheville, NC                                             45433
Athens-Clarke County, GA                                  40690
Atlanta-Sandy Springs-Alpharetta, GA                      52473
Atlantic City-Hammonton, NJ                               48668
Auburn-Opelika, AL                                        38036
Augusta-Richmond County, GA-SC                            42053
Austin-Round Rock-Georgetown, TX                          58773
Bakersfield, CA                                           39703
Baltimore-Columbia-Towson, MD                             62402
Bangor, ME                                                42053
Barnstable Town, MA                                       74756
Baton Rouge, LA                                           48042
Battle Creek, MI                                          40276
Bay City, MI                                              41722
Beaumont-Port Arthur, TX                                  44527
...                                                         ...
Urban Honolulu, HI                                        59608
Utica-Rome, NY                                            44036
Valdosta, GA                                              36217
Vallejo, CA                                               51664
Victoria, TX                                              45968
Vineland-Bridgeton, NJ                                    40289
Virginia Beach-Norfolk-Newport News, VA-NC                50619
Visalia, CA                                               40420
Waco, TX                                                  40831
Walla Walla, WA                                           46144
Warner Robins, GA                                         41944
Washington-Arlington-Alexandria, DC-VA-MD-WV              72483
Waterloo-Cedar Falls, IA                                  46063
Watertown-Fort Drum, NY                                   46924
Wausau-Weston, WI                                         49373
Weirton-Steubenville, WV-OH                               40472
Wenatchee, WA                                             50021
Wheeling, WV-OH                                           48881
Wichita, KS                                               51854
Wichita Falls, TX                                         43527
Williamsport, PA                                          43823
Wilmington, NC                                            43311
Winchester, VA-WV                                         48174
Winston-Salem, NC                                         44850
Worcester, MA-CT                                          55801
Yakima, WA                                                43379
York-Hanover, PA                                          50113
Youngstown-Warren-Boardman, OH-PA                         42443
Yuba City, CA                                             42925
Yuma, AZ                                                  35682

[384 rows x 1 columns]

Note: Now we need to address the metro areas containing multiple cities and multiple entries to connect with the housing data we're going to combine on

In [5]:
# Build a copy to transform
census_transform_df = census_df.reset_index()

In [6]:
# Traverse the cities
for ind in census_transform_df.index: 
    #print(test_df['metro_area'][ind])
    input_str = census_transform_df['metro_area'][ind]
    
    # Remove the text from ''-' to ',' (keeps the primary city)
    input_str = re.sub(r'-.*,', '', input_str)
    
    # Remove instances where we have a '/' instead of '-'
    input_str = re.sub(r'/.*,', '', input_str)
    
    # Where we have '-' leftover, those are between states, so keep the first state only
    input_str = input_str.split('-')[0]
    
    # Write it back to the dataframe
    census_transform_df.at[ind, 'metro_area'] = input_str

In [7]:
# Now, we traverse the cities again to clean up some newly created issues
# We now have no commas between cities and states
for ind in census_transform_df.index: 
    # Look for entries with no commas
    if census_transform_df['metro_area'][ind].find(',') == -1:
        #census_transform_df.at[ind, 'metro_area'] = census_transform_df['metro_area'][ind].replace(' ',', ')   
        
        # Find the last occurrance of a ' ' (this will be just before the state) and replace with a ','
        original_string = census_transform_df.at[ind, 'metro_area']
        last_space_index = original_string.rfind(' ')
        new_string = original_string[:last_space_index] + ", " + original_string[last_space_index+1:]
        
        # Write it back to the dataframe
        census_transform_df.at[ind, 'metro_area'] = new_string
       
    else:
        continue

In [8]:
census_transform_df.head(10)

        metro_area  per_capita_income
0      Abilene, TX              43140
1        Akron, OH              49423
2       Albany, GA              37500
3       Albany, OR              42891
4       Albany, NY              58104
5  Albuquerque, NM              42536
6   Alexandria, LA              43995
7    Allentown, PA              54120
8      Altoona, PA              46743
9     Amarillo, TX              46131

In [9]:
census_transform_df.to_csv('income.csv')

# Extracting Home Sales Data

In [ ]:
# Path to the Zillow Home Sales .CSV file
zillow = "data/zillow_sales_data.csv"

# Read our Zillow Home Sales data into pandas
zillow_df = pd.read_csv(zillow)
zillow_df.head(10)

In [ ]:
# Remove any RegionType that is not a US Metro
zillow_df = zillow_df.loc[(zillow_df["RegionType"] == "Msa")]

zillow_df

In [ ]:
# Obtain Column names
zillow_df.columns

In [ ]:
# Reflect only 2018 housing data from the Zillow Home Sales dataframe
reduced_zillow_df = zillow_df[["RegionName", "2018-01-31", "2018-02-28", "2018-03-31", 
                               "2018-04-30", "2018-05-31", "2018-06-30", "2018-07-31", 
                               "2018-08-31", "2018-09-30", "2018-10-31", "2018-11-30", 
                               "2018-12-31"]]
reduced_zillow_df

In [ ]:
# Rename Column Headers and Include 2018 Sales Average 
final_zillow_df = pd.DataFrame(columns=["metro_area", "Median Home Price 1/18", 
                                     "Median Home Price 2/18", "Median Home Price 3/18", 
                                     "Median Home Price 4/18", "Median Home Price 5/18", 
                                     "Median Home Price 6/18", "Median Home Price 7/18", 
                                     "Median Home Price 8/18", "Median Home Price 9/18", 
                                     "Median Home Price 10/18", "Median Home Price 11/18", 
                                     "Median Home Price 12/18",])

final_zillow_df["metro_area"] = reduced_zillow_df["RegionName"].values
final_zillow_df["Median Home Price 1/18"] = reduced_zillow_df["2018-01-31"].values
final_zillow_df["Median Home Price 2/18"] = reduced_zillow_df["2018-02-28"].values
final_zillow_df["Median Home Price 3/18"] = reduced_zillow_df["2018-03-31"].values
final_zillow_df["Median Home Price 4/18"] = reduced_zillow_df["2018-04-30"].values
final_zillow_df["Median Home Price 5/18"] = reduced_zillow_df["2018-05-31"].values
final_zillow_df["Median Home Price 6/18"] = reduced_zillow_df["2018-06-30"].values
final_zillow_df["Median Home Price 7/18"] = reduced_zillow_df["2018-07-31"].values
final_zillow_df["Median Home Price 8/18"] = reduced_zillow_df["2018-08-31"].values
final_zillow_df["Median Home Price 9/18"] = reduced_zillow_df["2018-09-30"].values
final_zillow_df["Median Home Price 10/18"] = reduced_zillow_df["2018-10-31"].values
final_zillow_df["Median Home Price 11/18"] = reduced_zillow_df["2018-11-30"].values
final_zillow_df["Median Home Price 12/18"] = reduced_zillow_df["2018-12-31"].values

final_zillow_df

In [ ]:
# Combine Multi City Metro's to match with the income data
# Build a copy to transform
zillow_transform_df = final_zillow_df.reset_index()

In [ ]:
# Traverse the cities
for ind in zillow_transform_df.index: 
    
    #print(test_df['metro_area'][ind])
    input_str = zillow_transform_df['metro_area'][ind]
    
    # Remove the text from ''-' to ',' (keeps the primary city)
    input_str = re.sub(r'-.*,', '', input_str)
    
    # Where we have '-' leftover, those are between states, so keep the first state only
    input_str = input_str.split('-')[0]
    
    # Write it back to the dataframe
    zillow_transform_df.at[ind, 'metro_area'] = input_str

In [ ]:
# Now, we traverse the cities again to clean up some newly created issues
# We now have no commas between cities and states
for ind in zillow_transform_df.index: 
    # Look for entries with no commas
    if zillow_transform_df['metro_area'][ind].find(',') == -1:
        #census_transform_df.at[ind, 'metro_area'] = census_transform_df['metro_area'][ind].replace(' ',', ')   
        
        # Find the last occurrance of a ' ' (this will be just before the state) and replace with a ','
        original_string = zillow_transform_df.at[ind, 'metro_area']
        last_space_index = original_string.rfind(' ')
        new_string = original_string[:last_space_index] + ", " + original_string[last_space_index+1:]
        
        # Write it back to the dataframe
        zillow_transform_df.at[ind, 'metro_area'] = new_string
       
    else:
        continue
zillow_transform_df.head(10)

In [ ]:
# Cleanup the DataFrame
del zillow_transform_df['index']
zillow_transform_df

In [ ]:
#Add average column
sales_average_df = zillow_transform_df.copy()
sales_average_df['2018 Sales Average'] = zillow_transform_df.sum(axis=1) / 12
pd.set_option('precision', 0)
sales_average_df.head()

In [ ]:
sales_average_df.to_csv('sales.csv')

## Extracting Rental Data

In [ ]:
#read in csv data
rent_data = pd.read_csv('data/Zillow_Rental.csv')
rent_data.head()

In [ ]:
#drop all yearly data except 2018
rent_df = rent_data.drop(columns=['2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
                                   '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
                                   '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
                                   '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
                                   '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
                                   '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
                                   '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
                                   '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
                                   '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
                                   '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
                                   '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
                                   '2020-07'])


rent_df.head()

In [ ]:
#drop United States row
rent_df = rent_df.drop([0])
rent_df.head()

In [ ]:
#reset index so first result is [0]
rent_df = rent_df.reset_index(drop=True)
rent_df.head()

In [ ]:
#further column consolidation
rent_df = rent_df.drop(['RegionID', 'SizeRank'], axis=1)
rent_df = rent_df.rename({"RegionName": "metro_area", "2018-01": "Median Home Rent 1/2018", "2018-02": "Median Home Rent 2/2018",
                "2018-03" : "Median Home Rent 3/2018", "2018-04" : "Median Home Rent 4/2018", "2018-05" : "Median Home Rent 5/2018",
                "2018-06" : "Median Home Rent 6/2018", "2018-07" : "Median Home Rent 7/2018", "2018-08" : "Median Home Rent 8/2018",
                "2018-09" : "Median Home Rent 9/2018", "2018-10" : "Median Home Rent 10/2018", "2018-11" : "Median Home Rent 11/2018",
                "2018-12" : "Median Home Rent 12/2018"}, axis=1)
rent_df.head()

In [ ]:
#Handling of Multi-city named metro_areas
rent_transform_df = rent_df.copy()

for ind in rent_transform_df.index:
    input_str = rent_transform_df['metro_area'][ind]
    input_str = re.sub(r'-.*,', '', input_str)
    rent_transform_df.at[ind, 'metro_area'] =input_str
    
#confirming missing comma issue
rent_transform_df.head(10)

In [ ]:
#replacing missing comma
for ind in rent_transform_df.index:
    if rent_transform_df['metro_area'][ind].find(',') == -1:
        original_string = rent_transform_df.at[ind, 'metro_area']
        last_space_index = original_string.rfind(' ')
        new_string = original_string[:last_space_index] + ", " + original_string[last_space_index+1:]
        rent_transform_df.at[ind, 'metro_area'] = new_string
    else:
        continue
        
rent_transform_df.head(10)

In [ ]:
#add column to average each row's values
rent_average_df = rent_transform_df.copy()
rent_average_df['2018 Rent Average'] = rent_transform_df.sum(axis=1) / 12
pd.set_option('precision', 0)
rent_average_df.head()

In [ ]:
rent_average_df.to_csv('rent.csv')